In [1]:
#this is the part of the file where we import our libraries, for this activity we will just use pandas
import pandas as pd

In [3]:
#this is a classic dataset from ggvis
drugs = pd.read_csv('cocaine.csv')

#lets get a look at it
drugs

     state  potency  weight  month  price
0       WA       77     217      1   5000
1       CT       51     248      1   4800
2       FL       68      43      1   3500
3       OH       69     123      1   3500
4       MS       75     118      1   3400
...    ...      ...     ...    ...    ...
3375    NY       87       1     12     50
3376    NY       94       1     12     40
3377    NY       69       1     12     40
3378    DC       38       1     12     40
3379    NJ       33       1     12     10

[3380 rows x 5 columns]

In [4]:
#lets see the head of drugs
drugs.head()

  state  potency  weight  month  price
0    WA       77     217      1   5000
1    CT       51     248      1   4800
2    FL       68      43      1   3500
3    OH       69     123      1   3500
4    MS       75     118      1   3400